@model Demo1.Models.EmployeeDto
@{
    ViewBag.Title = "addEdit";
}

<h2>AddEdit</h2>


<form action="/Emp/AddEdit" method="post" enctype="multipart/form-data">


    <table>

        <tr>

            <td>@Html.HiddenFor(m => m.Id)</td>

        </tr>
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</td>

        </tr>
        <tr>
            <td>Dob</td>
            <td>@Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })</td>

        </tr>
        <tr>
            <td>IsActive</td>
            <td>@Html.CheckBoxFor(m => m.IsActive, new { @class = "form-" })</td>


        </tr>
        <tr>
            <td>Gender</td>
            <td>
                @Html.RadioButtonFor(m => m.Gender, "Male")<text>Male</text>
                        @Html.RadioButtonFor(m => m.Gender, "Female")<text>Female</text>
                    </td>


        </tr>
        <tr>
            <td>Department</td>
            <td>@Html.DropDownListFor(m => m.Department,new SelectList(ViewBag.departments,"id","Name"))</td>
            
            

        </tr>
        <tr>
            <td>

                <button class="btn btn-primary" type="submit">Submit</button>



            </td>
            <td>
                <a class="btn btn-secondary" href="/Emp/index">Back to Home</a>
            </td>
        </tr>
    </table>





</form>
